*{
    text-align: center;
   
}
body{
    background-color: lawngreen;
}
.indexH1{
    font-size: 60px;
    background-color: green;
}
.choi {
    background-color: lightgreen;
}
.choi ul{
    list-style: none;
    font-size: 20px;
    }
.choi img{
    height: 200px;
    width: 300px;

}